<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{382,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{385,1},{382,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{769,1},{382,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{1153,1},{382,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{1,307},{382,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{385,307},{382,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{769,307},{382,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{1153,385},{382,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{1,613},{382,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{385,613},{382,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,304}</string>
                <key>spriteSourceSize</key>
                <string>{382,304}</string>
                <key>textureRect</key>
                <string>{{769,613},{382,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kun2.png</string>
            <key>size</key>
            <string>{1458,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bd2f08b6bf5938e2a000044a74d9f2f:26755d549657f3f94fd509459f801e40:afaf2dd7320997d444ea41059ab6cfd0$</string>
            <key>textureFileName</key>
            <string>kun2.png</string>
        </dict>
    </dict>
</plist>
